@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Timesheet Mobile Backend</h1>
    <p><a href="~/Reports/HoursPerWorkAssignment" class="btn btn-primary btn-lg">View reports&raquo;</a></p>
</div>
