@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Timesheet Mobile Backend</h1>
    <p><a href="~/Reports/HoursPerWorkAssignment" class="btn btn-primary btn-lg">View reports&raquo;</a></p>
    <p><a href="~/Search/Index" class="btn btn-primary btn-lg">Henkilönumero&raquo;</a></p>
    <p><a href="~/Search/Index" class="btn btn-primary btn-lg">TyoNumero&raquo;</a></p>
    <p><a href="~/Search/Index" class="btn btn-primary btn-lg">KustannusPaikka&raquo;</a></p>
</div>
